<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>MyApp</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>reg</servlet-name>
    <servlet-class>controllers.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reg</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>r</filter-name>
    <filter-class>filters.RegisterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>r</filter-name>
    <url-pattern>/register</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>logi</servlet-name>
    <servlet-class>controllers.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logi</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addcat</servlet-name>
    <servlet-class>controllers.AddCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addcat</servlet-name>
    <url-pattern>/category</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminregister</servlet-name>
    <servlet-class>controllers.AdminRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminregister</servlet-name>
    <url-pattern>/aregister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminlogin</servlet-name>
    <servlet-class>controllers.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlogin</servlet-name>
    <url-pattern>/alogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>feedback</servlet-name>
    <servlet-class>controllers.GiveFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>feedback</servlet-name>
    <url-pattern>/feedback</url-pattern>
  </servlet-mapping>
</web-app>